<div class="photo-card">
  <%= image_tag "engagement_photo_first_mountain.jpg", id: "engagement" %>

  <h1>DANA + ROBBIE</h1>

  <h2>Sunday, September 3rd, 2017</h2>
  <h2>Steamboat Springs, Colorado</h2>

  <h3><%= pluralize((Date.parse("2017-09-03") - Date.today).to_i, 'day') %> to go!</h3>
  <h4>More information is coming soon.</h4>
</div>
