<div class="photo-card">
  <%= image_tag "engagement_photo_first_mountain.jpg", id: "engagement" %>

  <h1>DANA + ROBBIE</h1>

  <h2>Sunday, September 3rd, 2017</h2>
  <h2>Steamboat Springs, Colorado</h2>

  <h4>More information is coming soon!</h4>
</div>
